@model AppStore.Models.DTO.CategoriaListVm
<div class="tbl-container">
    <h2>Administración de Categorías</h2>

    <!-- Tabla de categorías -->
    <table>
        <thead>
            <tr>
                <th>Nombre Categoría</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CategoriaList!)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>
                        <!-- Botones de acción -->
                        <a href="/Categoria/Edit?id=@item.Id" class="btn">
                            <i class="fa fa-edit"></i> Editar
                        </a>
                        <a href="/Categoria/Delete?id=@item.Id"
                           onclick="return window.confirm('¿Estás seguro de eliminar @item.Nombre?')"
                           class="btn btn-sec">
                            <i class="fa fa-trash"></i> Eliminar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Botón de retroceso -->
    <div class="input-container">
        <a href="/Categoria/Add" class="btn">Agregar Nueva Categoría</a>
    </div>
</div>
