@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}

<!-- Sección Acerca de -->
<section class="about-section">
    <div class="container">
        <h1>Acerca de Nosotros</h1>
        <p class="text-justify">
            Bienvenido a <strong>Librería Store</strong>, tu mejor fuente de libros y recursos educativos.
            Estamos dedicados a ofrecerte lo mejor de la literatura, enfocándonos en calidad, variedad y accesibilidad.
        </p>
        <p class="text-justify">
            Fundada en 2024, Librería Store comenzó como una pequeña librería. Nuestra pasión por promover la educación
            y el amor por los libros nos llevó a convertir el trabajo duro y la inspiración en una tienda online próspera.
            Ahora servimos a clientes en todo el país y estamos emocionados de ser parte de la creciente comunidad literaria.
        </p>
        <p class="text-justify">
            Esperamos que disfrutes de nuestros libros tanto como nosotros disfrutamos ofrecerlos para ti. Si tienes alguna
            pregunta o comentario, no dudes en contactarnos.
        </p>
        <p class="text-justify"><strong>¡Feliz Lectura!</strong></p>
    </div>
</section>


<!-- Sección del Equipo -->
<section class="team-section" style="border-radius:10px;">
    <div class="container">
        <h2>Conoce a Nuestro Equipo</h2>
        <div class="team-cards">
            <div class="team-card">
                <img src="https://miguel-calderon-gutierrez.github.io/Portafolio/imagenes/foto.jpg" alt="Miguel Calderón">
                <h3>Miguel Calderón</h3>
                <p>Fundador y CEO</p>
            </div>
        </div>
    </div>
</section>