@{
    Layout = null;
}

<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Index</title>
    </head>
    <body>
        <h1>Hola mundo desde c# con MVC</h1>
    </body>
    </html>