@model AppStore.Models.Domain.Libro

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <h2>Actualizar Libro</h2>

    <!-- Campo oculto para ID -->
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Imagen" />

    <!-- Campo para Título -->
    <div class="input-container">
        <label asp-for="Titulo">Título</label>
        <input type="text" class="input" asp-for="Titulo" />
        <div class="message-box error">
            <span asp-validation-for="Titulo"></span>
        </div>
    </div>

    <!-- Campo para Autor -->
    <div class="input-container">
        <label asp-for="Autor">Autor</label>
        <input type="text" class="input" asp-for="Autor" />
        <div class="message-box error">
            <span asp-validation-for="Autor"></span>
        </div>
    </div>

    <!-- Campo para Imagen -->
    <div class="input-container">
        <label asp-for="ImageFile">Imagen</label>
        <input type="file" class="input" asp-for="ImageFile" />
        <div class="message-box error">
            <span asp-validation-for="ImageFile"></span>
        </div>
    </div>

    <!-- Campo para Categorías -->
    <div class="input-container">
        <label asp-for="Categorias">Categorías</label>
        <select asp-items="Model.MultiCategoriasList" class="input" asp-for="Categorias" multiple>
            <option value="">--Seleccionar--</option>
        </select>
        <div class="message-box error">
            <span asp-validation-for="Categorias"></span>
        </div>
    </div>

    <!-- Campo para Fecha de Publicación -->
    <div class="input-container">
        <label asp-for="CreateDate">Fecha de Publicación</label>
        <input type="date" class="input" asp-for="CreateDate" />
        <div class="message-box error">
            <span asp-validation-for="CreateDate"></span>
        </div>
    </div>

    <!-- Mensajes desde TempData -->
    @if (TempData["msg"] != null)
    {
        <div class="alert">
            @TempData["msg"]
        </div>
    }

    <!-- Botones -->
    <div class="input-container">
        <button class="btn" type="submit">Guardar</button>
        <a class="btn btn-sec" href="/Libro/LibroList">Ver todos los libros</a>
    </div>
</form>
