@model AppStore.Models.DTO.LoginModel
@{

}


<div class="login-container">
    <form class="login-form" asp-action="Login" method="post">
        <h2 class="pb-10">Iniciar Sesión</h2>

        <div class="input-container">
            <label asp-for="Username">Usuario</label>
           <div>
                <input type="text" class="input" asp-for="Username" />
           </div>
            <div class="message-box error">
                <span asp-validation-for="Username"></span>
            </div>
        </div>

        <div class="input-container">
            <label asp-for="Password">Contraseña</label>
            <div>
                <input type="password" class="input" asp-for="Password" />
            </div>
            <div class="message-box error">
                <span asp-validation-for="Password"></span>
            </div>
        </div>

        @if (TempData["msg"] != null)
        {
            <div class="alert mb-1">
                @TempData["msg"]
            </div>
        }

        <div class="input-container">
            <button class="btn btn-default" type="submit">Entrar</button>
        </div>
    </form>
</div>
